.container-login {
  /* border: 2px solid white; */
  margin-top: 20px;
  height: 100vh;
  background-image: url("/public//images//login_bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 1s ease; /* Fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
